<!-- Top Navigation Bar -->
<header class="top-bar">
  <div class="top-bar-left">
    <img src="{{ base_url }}/images/Argonne-Full-Logo.PNG" alt="Argonne Full Logo" class="argonne-logo" />
  </div>

  <div class="top-bar-right">
    <a href="https://argonne-lcf.github.io/student-onboarding/" class="home-link">Home</a>
    {% include "partials/search.html" %}
  </div>

</header>

{% if page.url == "index" %}
  <style>
  .hero__bg {
    background: url("{{ base_url }}/images/Argonne-Employees-Standing.jpg") center center / cover no-repeat;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1;
  }
  </style>

  <!-- Hero Banner -->
  <section class="hero">
    <div class="hero__bg"></div>
    <div class="hero__content">
      <h1>WELCOME TO ARGONNE</h1>
      <p>Your guide to onboarding,<br>setup, and success at Argonne.</p>
    </div>
  </section>
{% endif %}


